<nav>
        <ul class="list-unstyled main-menu">
          
          <!--Include your navigation here-->
          <li class="text-right"><a href="#" id="nav-close">X</a></li>
          <li><a href="about.html">About <span class="icon"></span></a></li>
          <li><a href="features.html">Features <span class="icon"></span></a></li>
          <li><a href="services.html">Services <span class="icon"></span></a></li>
          <li><a href="portfolio.html">Portfolio <span class="icon"></span></a></li>
          <li><a href="#">Pages</a>
            <ul class="list-unstyled">
                <li class="sub-nav"><a href="blog-item.html">Blog Article <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="blog-sidebar.html">Blog Sidebar <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="team.html">Team <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="pricing.html">Pricing Charts <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="portfolio-item.html">Portfolio Item <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="login.html">Log In <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="signup.html">Sign Up <span class="icon"></span></a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog <span class="icon"></span></a></li>
          <li><a href="contact.php">Contact <span class="icon"></span></a></li>
        </ul>
      </nav>
          
    <div class="navbar navbar-inverse navbar-fixed-top">      
        
        <!--Include your brand here-->
        <a class="navbar-brand" href="index.html"><img src="/images/logo.png" class="img-responsive" alt="Logo"></a>
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            MENU &nbsp;<i class="fa fa-bars fa-lg white"></i>
          </a>
        </div>
    </div>
    
    
    <!--Header-->
    <section id="header">
      <div class="container">
        <div class="row header-info margin-20">
          <div class="col-sm-6 col-sm-offset-3 text-center animated fadeIn">
            <h1>Plixis</h1>
            <hr>
            <h3 class="white">A flat, sleek multipurpose theme built to show off any type of business.</h3>
          </div>
        </div>
        
        <div class="row animated fadeInUpBig">
          <div class="col-sm-6 col-sm-offset-3 text-center">
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    
    <!--Main-->
    <section id="main" class="white-bg">
      <div class="container">
        <div class="row text-center">
          
          <!--Section-->
          <a class="col-link" href="#">
          <div class="col-sm-4 margin-30 animated fadeIn delay1">
            <i class="fa fa-compress fa-4x home-icons"></i>
            <h3>Built Responsive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque sodales lacinia diam, a iaculis lacus faucibus ac. </p> 
          </div>
          </a>
          
          <!--Section-->
          <a class="col-link" href="#">
          <div class="col-sm-4 margin-30 animated fadeIn delay2">
            <i class="fa fa-code fa-4x home-icons"></i>
            <h3>Clean Code</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque sodales lacinia diam, a iaculis lacus faucibus ac. </p> 
          </div>
          </a>
          
          <!--Section-->
          <a class="col-link" href="#">          
          <div class="col-sm-4 margin-30 animated fadeIn delay3">
            <i class="fa fa-gear fa-4x home-icons"></i>
            <h3>Unlimited Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque sodales lacinia diam, a iaculis lacus faucibus ac. </p>
          </div>
          </a>
          
        </div>
      </div>
    </section>
    
    <!--Latest Work-->
    <section id="latest-work" class="gray-bg">
      <div class="container">
        <div class="row margin-30">
          <div class="col-sm-12 text-center">
            <h2>Latest Work</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
          
            <div id="work-carousel" class="owl-carousel">
        
              <!--Project-->
              <div class="thumbs">
                <img src="images/portfolio1.jpg" class="img-responsive" alt="Image Title">
                            <a href="portfolio-item.html">
                                <span class="title">
                                    <span>Project Title<br />
                                    <i class="fa fa-minus white"></i>
                                    <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </span>
                                </span> 
                            </a>
              </div>
              
              <!--Project-->
              <div class="thumbs">
                <img src="images/portfolio2.jpg" class="img-responsive" alt="Image Title">
                            <a href="portfolio-item.html">
                                <span class="title">
                                    <span>Project Title<br />
                                    <i class="fa fa-minus white"></i>
                                    <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </span>
                                </span> 
                            </a>
              </div>
              
              <!--Project-->
              <div class="thumbs">
                <img src="images/portfolio3.jpg" class="img-responsive" alt="Image Title">
                            <a href="portfolio-item.html">
                                <span class="title">
                                    <span>Project Title<br />
                                    <i class="fa fa-minus white"></i>
                                    <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </span>
                                </span> 
                            </a>
              </div>
              
              <!--Project-->
              <div class="thumbs">
                <img src="images/portfolio4.jpg" class="img-responsive" alt="Image Title">
                            <a href="portfolio-item.html">
                                <span class="title">
                                    <span>Project Title<br />
                                    <i class="fa fa-minus white"></i>
                                    <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </span>
                                </span> 
                            </a>
              </div>
              
            </div>
            
          </div><!--End Col 12-->
        </div><!--End Row-->
      </div>
    </section>
    
    <!--Latest News-->
    <section id="latest-news" class="dark-bg">
      <div class="container">
        <div class="row margin-30">
          <div class="col-sm-12">
            <h2>Latest News</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            
            <div class="row">
              
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
            </div><!--End Nested Row-->
          </div><!--End Col-->
          
          <div class="col-md-6">
            <div class="row">
          
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
            </div><!--End Nested Row-->
          </div><!--End Col-->
        </div><!--End Row-->
        
      </div>
    </section>
    
    
    <!--Testimonials-->
    <section id="testimonials" class="white-bg">
      <div class="container">
        <div class="row margin-30">
          <div class="col-sm-12 text-center">
            <h2>Kind Words</h2>
          </div>
        </div>
        
        <div class="row">
          <div id="kind-words" class="carousel slide">
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              
              <div class="item active"><!-- class of active since it's the first item -->
                <div class="row margin-30">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="row margin-30">
                      <div class="col-sm-3 text-center">
                        <img class="img-circle img-responsive" src="images/testimonial.png" alt="Title">
                        <h5>Jen,</h5>
                        <small title="Source Title"><em>Title | <a href="#" class="more">Company Name</a></em></small>
                      </div>
                      <div class="col-sm-9 text-center">
                        <h3>“We are amazed at the quality”</h3>
                        <hr />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--End Item-->
              
              <div class="item">
                <div class="row margin-30">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="row margin-30">
                      <div class="col-sm-3 text-center">
                        <img class="img-circle img-responsive" src="images/testimonial2.png" alt="Title">
                        <h5>Ron,</h5>
                        <small title="Source Title"><em>Title | <a href="#" class="more">Company Name</a></em></small>
                      </div>
                      <div class="col-sm-9 text-center">
                        <h3>“Really good looking themes & great support!”</h3>
                        <hr />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--End Item-->
              
              <div class="item"><!-- Embedd your tweets below -->
                <div class="row margin-30">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="row margin-30">
                      
                      <div class="col-sm-4">
                        <blockquote class="twitter-tweet"><a href="https://twitter.com/themearmada/statuses/342791924169711617"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      
                      <div class="col-sm-4">
                        <blockquote class="twitter-tweet"><a href="https://twitter.com/themearmada/statuses/353140315336622082"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      
                      <div class="col-sm-4">
                        <blockquote class="twitter-tweet"><a href="https://twitter.com/themearmada/statuses/359429090140782592"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div><!--End Item-->
              
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#kind-words" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#kind-words" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div><!--End Row-->
        
      </div>
    </section>
    
    
    <!--Featured Clients-->
    <section id="featured-clients" class="gray-bg">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-2">
            <h2>Clients</h2>
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div>
          
          
        </div>
      </div>
    </section>
    
    
    <!--Bottom-->
    <section id="bottom">
      <div class="container">
        <div class="row">
          
          <!--Section 1-->
          <div class="col-sm-3 margin-40">
            <h3>About Plixis</h3>
            <div class="gray-box">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat laboris.</p>
              <a class="more" href="#">More</a>
            </div>
          </div>
          
          <!--Section 2-->
          <div class="col-sm-3 margin-40">
            <h3>Email Sign Up</h3>
            <form class="form-inline" role="form" id="email-signup">
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-chevron-right fa-lg"></i></button>
            </form>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          
          <!--Section 3-->
          <div class="col-sm-3 margin-40">
            <h3>Quick Links</h3>
            <ul class="list-unstyled bottom-links">
              <li><a href="http://www.themearmada.com">Theme Armada</a></li>
              <li><a href="http://wrapbootstrap.com/user/themearmada">Wrap Bootstrap Profile</a></li>
              <li><a href="#">Other Link Here</a></li>
              <li><a href="#">Other Link Here</a></li>
            </ul>
          </div>
          
          <!--Section 4-->
          <div class="col-sm-3 margin-40">
            <h3>Contact</h3>
            <div class="gray-box">
              <p><i class="fa fa-phone fa-lg"></i> 800.555.5555</p>
            </div>
            <div class="color-box">
              <p><a href="mailto:support@themearmada.com"><i class="fa fa-envelope-o fa-lg"></i> support@themearmada.com</a></p>
            </div>
            <ul class="list-inline social-icons">
              <li><a href="http://www.twitter.com/themearmada"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
            
          </div>
          
        </div>
      </div>
    </section>
    
    
    <!--Footer-->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright">Copyright @ Theme Armada. All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>