<nav>
  <ul class="list-unstyled main-menu">
    
    <!--Include your navigation here-->
    <li class="text-right"><a href="#" id="nav-close">X</a></li>
    <li><a href="#">Our Services</a>
      <ul class="list-unstyled">
        <li class="sub-nav"><a href="#">Trade & Currency Service<span class="icon"></span></a></li>
        <li class="sub-nav"><a href="#">Money Transfer with Western Union <span class="icon"></span></a></li>
        <li class="sub-nav"><a href="#">Daily Reports <span class="icon"></span></a></li>
      </ul>
    </li>
    <li><a href="#">About Trinity Finance</a>
      <ul class="list-unstyled">
        <li class="sub-nav"><a href="#">Milestones & Vision<span class="icon"></span></a></li>
        <li class="sub-nav"><a href="#">Always Available for You <span class="icon"></span></a></li>
        <li class="sub-nav"><a href="#">News <span class="icon"></span></a></li>
      </ul>
    </li>
    <li><a href="#">Locate Us</a>
      <ul class="list-unstyled">
        <li class="sub-nav"><a href="#">Find Us in Cotonou<span class="icon"></span></a></li>
        <li class="sub-nav"><a href="#">Find Us in Calavi <span class="icon"></span></a></li>
        <li class="sub-nav"><a href="#">Find Us in Porto-Novo <span class="icon"></span></a></li>
      </ul>
    </li>
    <li><a href="#">Contact <span class="icon"></span></a></li>
  </ul>
</nav>
          
<div class="navbar navbar-inverse navbar-fixed-top">      
    
    <!--Include your brand here-->
    <a class="navbar-brand" href="index.html"><img src="/images/trinity-finance-logo.png" class="img-responsive" alt="Logo" style="height: 45px;"></a>
    <div class="navbar-header pull-right">
      <a id="nav-expander" class="nav-expander fixed">
            MENU &nbsp;<i class="fa fa-bars fa-lg white"></i>
      </a>
    </div>
</div>
    
    
    <!--Removed Header-->
    <!--Latest Work-->
    <section id="latest-work" class="gray-bg">
      <div class="container">
        <div class="row margin-30">
        <div class="col-sm-12 text-center">
            <h1>Trinity Finance</h1>
          <h2>Currencies Exchange & Payment Experts</h2>
        </div>
      </div>
        
        
        <div class="row">
          <div class="col-sm-12">
          
            <div id="work-carousel" class="owl-carousel">
        
              <!--Project-->
              <div class="thumbs">
                <div class="image-text">
                    <div class="text">
                            <h3>Money Transfer</h3>
                            <p style="color: white;">Western Union Service in all agencies.</p>
                        </div>
                        <img src="images/carrousel-1.png" class="img-responsive" alt="Image Title">
                    </div>
                        <a href="#main1">
                            <span class="title">
                                <span>Money Transfer<br />
                                <i class="fa fa-minus white"></i>
                                <span class="project-info">Western Union Service in all agencies.
                                    <br>
                                    Choose the Best Quality of Service.
                                    <br><br>
                                    > Learn more
                                </span>
                                </span>
                            </span> 
                        </a>
              </div>
              
              <!--Project-->
              <div class="thumbs">
                    <div class="image-text">
                    <div class="text">
                            <h3>For Exchange</h3>
                            <p style="color: white;">Yes! Find the Best Rate.</p>
                        </div>
                        <img src="images/carrousel-2.png" class="img-responsive" alt="Image Title">
                    </div>
                    <a href="#main1">
                        <span class="title">
                            <span>For Exchange<br />Yes! Find the Best Rate.
                                <i class="fa fa-minus white"></i>
                                <span class="project-info">Choose the premium choice service, safety and reliability.
                                    <br><br>
                                    > Learn more
                                </span>
                            </span>
                        </span> 
                    </a>
              </div>
              
              <!--Project-->
              <div class="thumbs ">
                    <div class="image-text">
                    <div class="text">
                            <h3>Toujours Disponible</h3>
                            <p style="color: white">Open Monday to Friday 8:00-18:30 - Saturday 8:00-14:00</p>
                        </div>
                        <img src="images/carrousel-3.png" class="img-responsive" alt="Image Title">
                    </div>
                    <a href="#main3">
                        <span class="title">
                            <span>
                                Toujours Disponible
                                <br />Pour vous Accompagner.
                                <i class="fa fa-minus white"></i>
                                <span class="project-info">
                                    Contactez-nous.
                                    <br><br>
                                    > Learn more
                                </span>
                            </span>
                        </span> 
                    </a>
              </div>
              
              
            </div>
              <h5><a href="#">Check the latest Rates >></a></h5>
              <h5><a href="#">Find agencies >></a><span>Open Monday to Friday 8:00-18:30 - Saturday 8:00-14:00</span></h5>
            
          </div><!--End Col 12-->
        </div><!--End Row-->
      </div>
    </section>

    <section id="main-3-details" class="color-bg">
    <div class="container">
      <div class="row text-center">
        
        <!--Section-->
        <a class="col-link-2" href="#main1">
        <div class="col-sm-4 margin-30 animated fadeIn delay1">
        <i class="fa fa-money fa-4x home-icons-2"></i>
        <h3 class="white">Our Services</h3>
        <h5 class="white">Trade and Currency Services</h5> 
        <h5 class="white">Money Transfer with Western Union</h5>
        <h5 class="white">Daily Report</h5>
        </div>
        </a>
        
        <!--Section-->
        <a class="col-link-2" href="#main2">
        <div class="col-sm-4 margin-30 animated fadeIn delay2">
        <i class="fa fa-group fa-4x home-icons-2"></i>
        <h3 class="white">About Trinity Finance</h3>
        <h5 class="white">Milestones & Vision</h5> 
        <h5 class="white">Always Available for You</h5>
        <h5 class="white">News</h5>
        </div>
        </a>
        
        <!--Section-->
        <a class="col-link-2" href="#main3">          
        <div class="col-sm-4 margin-30 animated fadeIn delay3">
        <i class="fa fa-map-marker fa-4x home-icons-2"></i>
        <h3 class="white">Locate Us</h3>
        <h5 class="white">Find Us in Cotonou</h5>
        <h5 class="white">Find Us in Calavi</h5>
        <h5 class="white">Find Us in Porto-Novo</h5>
        </div>
        </a>
        
      </div>
    </div>
  </section>
    

    <!--Main-->
    <section id="main1" class="white-bg main-description">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-7 ">
            <h3>Our Services</h3>
            <h4>Money Transfers with Western Union</h4>
            <p>Trinity Finance offers Money transfer service, with the simpliest and most reliable solution : Western Union, in all agencies.</p>
            <ul>
              <li>Send money:</li>
              <ul>
                <li>name, surname, identity card </li>
                <li>password</li>
              </ul>
              <li>Receive money:</li>
              <ul>
                <li>country (from), </li>
                <li>name, surname,</li>
                <li>amount,</li>
                <li>password,</li>
                <li>MTCN number</li>
              </ul>
            </ul>
            <a class="more" href="#" style="padding-right: 10px;">Trade & Currency Services</a>
            <a class="more" href="#" style="padding-right: 10px;">Daily Reports</a>
            <a class="more" href="#">Contact Us</a>
          </div>
          
          <div class="col-sm-5">
            <h3><br></h3>
            <b>
              <h3 class="why">Why choose Western Union ® in an agency Trinity Finance?</h3>
              <p>A global leader in money transfer services for over 135 years.</p>
              <p>The name that millions of consumers around the world recognize and to which they account for quick and easy money transfer.</p>
              <p>With thousands of outlets around the world, Western Union is always close to its customers.</p>
            </b>
          </div>
          
        </div>
      </div>
    </section>
    
    
    <!--Main2-->
    <section id="main2" class="gray-bg main-description">
      <div class="container">
        <div class="row">
          
          
          <div class="col-sm-5 margin-30">
            <h3>History</h3>
            <p>Trinity Finance was created to meet the needs of a private and trading clientele. Its services differ from services offered by banks and informal foreign exchange dealers.</p>
            <p>Trinity Finance agency was first created in 2000 in Cotonou (Caboma Scoa Gbéto). The company quickly developed a trade/currency and money transfer services as well as international business payments services.</p>
            <p>Presently, the establishment has a network of 8 agencies with about 20 employees servicing hundreds of thousand of customers.  The establishment is known for its reliability and efficiency with unbeatable prices. </p>
          </div>
          
          <div class="col-sm-7 text-right">
            <h3>About Trinity Finance</h3>
            <p>Become the first choice of customers for foreign exchange, currency trading and money transfer.</p>
            <h5>Our mission</h5>
            <p>Remain the leader in the areas of exchange of foreign currency transactions, money transfers and payments through a higher quality of service and constant upgrade in equipment and technology.</p>
            <h5>Our values</h5>
            <p>Expertise, compliance with procedures, teamwork and customer satisfaction for quality allied service through secure transactions mind.</p>
            <h5>Distinction and Recognition</h5>
            <p>Trinity Finance received a trophy of Bank Of Africa Benin as a trading partner for first-class performance and confidence in the relationship with the bank.</p>
          </div>
          
        </div>
      </div>
    </section>
              
    
    <section id="main3" class="white-bg main-description">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-7 ">
            <h3>Always available for you</h3>
            <p>Trinity Finance employs twenty ( 20 ) permanent employees. The establishment not only envisions spreading out its services throughout the entire country (Benin) but also makes it a priority to offer high quality services to its customers.</p>
            <p>To guarantee customer satisfaction, Trinity Finance has developed a very strong climate of integrity and ethics.</p>
            <p>It also favors a climate of closeness, openness and loyalty to its clientele, thanks to a dynamic and efficient team!</p>
          </div>
          
          <div class="col-sm-5" style="text-align: right;">
            <h3>To contact Trinity Finance team :</h3>
            <p>Phone :  00229 21 31 79 39</p>
            <p>e-mail : admin@trinity-finance.net</p>
            <p><a class="more" href="#">Or Visit our agencies >>.</a></p>
          </div>
          
        </div>
      </div>
    </section>
    
    
    
    <!--Featured Clients-->
    <section id="featured-clients" class="gray-bg">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-2">
            <!-- <h2>Clients</h2> -->
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <img src="images/trinity-icon1.jpg" class="img-responsive" alt="Title">
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <img src="images/trinity-icon2.jpg" class="img-responsive" alt="Title">
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <img src="images/trinity-icon3.jpg" class="img-responsive" alt="Title">
          </div>
          
          <!--Client-->
          <div class="col-sm-2">
            <img src="images/trinity-icon4.jpg" class="img-responsive" alt="Title">
          </div>
         
          
          
        </div>
      </div>
    </section>
    
    
    <!--Bottom-->
    <section id="bottom">
      <div class="container">
        <div class="row">
          
          <!--Section 1-->
          <div class="col-sm-3 margin-40">
            <h3>About Trinity Finance</h3>
            <div class="gray-box">
              <p class="white">
                    Trinity Finance agency was first created in 2000 in Cotonou (Caboma Scoa Gbéto). 
                    The company quickly developed a trade/currency and money transfer services as well as international 
                    business payments services.
                </p>
              <a class="more" href="#">More</a>
            </div>
          </div>
          
          <!--Section 2-->
          <div class="col-sm-3 margin-40">
            <h3>Receive our Newsletter</h3>
            <form class="form-inline" role="form" id="email-signup">
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-chevron-right fa-lg"></i></button>
            </form>
          </div>
          
          <!--Section 3-->
          <div class="col-sm-3 margin-40">
            <h3>Quick Links</h3>
            <ul class="list-unstyled bottom-links">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Approval</a></li>
            </ul>
          </div>
          
          <!--Section 4-->
          <div class="col-sm-3 margin-40">
            <h3>Contact</h3>
            <div class="gray-box">
              <p class="white"><i class="fa fa-phone fa-lg"></i> 00229 21 31 79 38</p>
            </div>
            <div class="color-box">
              <p><a href="mailto:support@themearmada.com"><i class="fa fa-envelope-o fa-lg"></i> admin@trinityfinance.net</a></p>
            </div>
            <ul class="list-inline social-icons">
              <li><a href="https://www.facebook.com/TrinityFinances" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
            
          </div>
          
        </div>
      </div>
    </section>
    
    
    <!--Footer-->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright">Copyright @ Trinity Finance. All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>